body {
    color: white;
    background-color: black;
}

header {
    width: 800px;
    height: 80px;
}

h1  {
    text-align: center;
}

a {
    text-align: center;
    margin: 0 auto;
}

main {
    width: 800px;

    
}

section {
    background-image: url("/resources/images/camp.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 200px;
    
}