body {
    background-color: #000;
    text-align: center;
    font-family: Verdana sans-serf;
}

/* HEADINGS */

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.header--secondary {
    font-weight: 300;
    color: #ffffff;
    font-size: 42px;
}

.header--sub-header {
    color: gray;
    font-size: 21px;

}


/* LINKS */

.link--cta {
    font-size: 16px;
    color: aquamarine;
}